body,
html {
  height: 100%;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: black;
  padding:0.2rem;

}

.main-content{
  padding:2rem;
}

.sidebar {
  flex: 0.18;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.5rem;
  background-color: #000;
  width: 360px;
  /* flex-shrink: 0; */
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.800px;
  box-sizing: border-box;
}

.sb {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.logo > img {
  height: 55px;
  width: 100px;
}

.m-item {
  padding: 5px 3px;
  border-radius: 4px;
  width: 80%;
  display: flex;
  opacity: 0.8;
}

.m-item:hover {
  transform: scale(1.01);
  background-color: #282828;
  border-radius: 4px;
  opacity: 1;
}

.m-item > img {
  height: 22px;
  padding: 3px 4px 3px 3px;
}
.CTA > img {
  height: 22px;
}

.list {
  padding: 12px;
}

.playlists > div {
  opacity: 0.8;
}

.playlists > div:hover {
  transform: scale(1.01);
  opacity: 1;
}

.list > li {
  opacity: 0.8;
  padding: 5px;
}

.list > li:hover {
  opacity: 1;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background: linear-gradient(
    180deg,
    #222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 0) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
}

.nav-left > img {
  background-color: rgba(19, 19, 19, 1);
  width: 36px;
  border-radius: 18px;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
}

.nav-left > img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 33px;
  background: #0a0a0a;
  height: 36px;
  box-sizing: border-box;
  padding: 5px;
  opacity: 0.9;
}

.nav-right:hover {
  opacity: 1;
  transform: 1.02;
}
.greet {
  color: #fff;

  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
}

.nav-right > p {
  margin: 0;
  padding: 0 5px;
}

.nav-right > img {
  height: 30px;
}

.nav-right > i {
  padding: 4px;
}

.main1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
}
.m1-item {
  width: 285px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: #303030;
  opacity: 0.8;
}
.m1-item:hover{
  opacity: 1;
}
.m1-item > img {
  height: 65px;
  margin-right: 8px;
  border-radius: 4px;
}

.main1 > p {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.likedShows{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:0.8rem;
}
.artist{
width: 260.292px;
height: 332px;
display: flex;
flex-direction: column;
justify-content: flex-start;
background: #181818;
border-radius:8% ;
box-sizing: border-box;
text-align: center;
opacity: 0.8;

}
.artist:hover{
  opacity: 1;
}

.artist>img{
border-radius: 8%;
object-fit: contain;
padding: 1rem;
}

.artist>h4{
color: #FFF;
font-size: 18px;
font-weight:700;
letter-spacing: -0.42px;
}

.artist>p{
  margin-bottom: 8px;
  color: #B3B3B3;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.15px;
}

.line{
  font-size: 12px;
  font-weight: 500;
line-height: normal;
letter-spacing: 0.15px;
}


.main-content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}
/* .main-content::-webkit-scrollbar-thumb {
  background: #c0c0c0;
} */

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}